@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle" class="align-items-center">
        <h1 id="title" class="text-center pt-2">Gestion Clientes</h1>
        <h3 class="lead text-center">Registro y gestion de clientes</h3>
        <p><a href="" class="btn btn-primary   justify-content-center align-items-center" >Ingreso &raquo; </a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
          
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
          
        </section>
    </div>
</main>